* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* MENU SUPERIOR */

#menu-superior {
    background-color: #303030;
    color: white;
    padding: 100px 40px 80px 40px;
    text-align: left;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 18px;
}

/* MENU INFO */

#menu-info {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 40px;
    flex-wrap: wrap;
}

.info-item{
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.num-bold {
    display: block;
    font-size: 35px;
    font-weight: 700;
}

.text-info {
    font-size: 16px;
    color: #303030;
    text-align: left;
}

/* MAIN */

.container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 80px 40px;
    gap: 60px;
    flex-wrap: wrap;
}

#pic {
    width: 440px;
    height: 522px;
    object-fit: cover;
    border-radius: 20px;
}

.texto-conteudo {
    flex: 1;
    min-width: 400px;
    text-align: left;
}

#title-main {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.2;
}

#paragrafo {
    font-size: 16px;
    color: #303030;
    line-height: 1.8;
}

.imagem-conteudo {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

/* FORM */

#form {
    background-color: #303030;
    text-align: center;
    padding: 80px 40px;
}


.title-form {
    font-size: 30px;
    margin-bottom: 40px;
    color: white;
    font-weight: 600;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
}

button {
    background-color: #C07212;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #a86008;
    transform: translateY(-4px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #00000075;
}